name: Test

on:
  pull_request:

# Due to a flutter bug, flutter build is not generating localizations
# workaround by always running flutter pub get immediately before building,
# and performing build for msix:create manually to allow implementing this workaround
jobs:
  check-formatting:
    name: Ensure correct formatting
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake ninja-build libgtk-3-dev
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter doctor
    - run: flutter pub get
    - run: dart format lib/l10n/ # format localization files first, those are regenerated locally anyway, and otherwise cause false positives
    - run: dart format --output=none --set-exit-if-changed lib/
  
